<link rel="stylesheet" type="text/css" href="../css/header.css">
<!-- local css for header -->


<div class="navbar">
    <div class="title">Sell Now</div>
    <div class="menu">
    <!-- if user is present -->
        <a href="#" class="active">Dashbord</a>
        <a href="#">Logout</a>

    <!-- if user is not present -->
        <!-- <a href="#">SignIn</a>
        <a href="#">SignUp</a> -->
    </div>
</div>