<!-- local css for body -->
<link rel="stylesheet" type="text/css" href="../css/home.css">

<!-- Dashboard Layout -->
<div class="dashboard">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Seller Profile -->
    <div class="profile">
      <!-- Seller Name -->
      <h2><%= user.name %></h2>
    </div>
    <!-- Navigation Links -->
    <ul class="navigation">
      <a href="/users/storeInfo"><li>Add Store Info</li></a>
      <a href="/users/products"><li>Add Inventory</li></a>
      <a href="/users/products/<%=user._id%>/inventory" ><li>Show Inventory</li></a>
    </ul>
    <!-- Logout Button -->
    <a href="/users/destroySession"><button class="logout">Logout</button></a>
  </div>

  <!-- Main Content Area -->
  <div class="content">
     <!--Welcome  -->
      <div id="heading">
        <h1>Welcome to Your Store's Control Center</h1>
        <p>Manage your store information, inventory, and more with ease!</p>
      </div>
  </div>
</div>

