<!DOCTYPE html>

<html>

<head>
    <!-- TITLE OF THE PAGE -->
    <title><%=title%></title>
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/layout.css">

</head>

<body>
    <!-- HEADER -->
    <%- include('header')%>

    <!-- BODY -->
    <%- body %>

    <!-- FOOTER -->

    <!-- JAVASCRIPT -->

</body>

</html>