<!-- local css for signIn -->
<link rel="stylesheet" type="text/css" href="../css/signIn.css">


<div class="input-form">
    <div>
        <h1>Sign In</h1>
    </div>
    <div class="formClass">
        <form action="/users/create" method="POST">
            <input type="email" name="email" placeholder="Enter email" required> <br />
            <input type="password" name="password" placeholder="Enter password" required> <br />
            <button type="submit">Sign In</button> <br />
            <a href="/users/signUp" >Create a new Account</a>
        </form> 
    </div>
</div>